html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background-color: #333948;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td, iframe {
	font-family: "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica,"BBAlpha Sans",sans-serif;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}

.navbar-fixed-top {
	margin: 0px;
	position: absolute;
}

body > .navbar .brand {
	margin-left: 5px;
	float: left;
	margin-left: 0;
	padding: 0 5px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
	
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	min-width: 220px;
	height: 35px;
	line-height: 35px;
}

body > .navbar .brand span {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0.8em;
	width: 100%;
	background: #191919;
}

@keyframes front-flip
{
0% {transform: rotateX(0deg) rotateY(0deg);}
25% {transform: rotateX(0deg);}
75% {transform: rotateX(180deg);}
100% {transform: rotateX(180deg);}
}

@-moz-keyframes front-flip /* Firefox */
{
0% {-moz-transform: rotateX(0deg) rotateY(0deg);}
25% {-moz-transform: rotateX(0deg);}
75% {-moz-transform: rotateX(180deg);}
100% {-moz-transform: rotateX(180deg);}
}

@-webkit-keyframes front-flip /* Safari and Chrome */
{
0% {-webkit-transform: rotateX(0deg) rotateY(0deg);}
25% {-webkit-transform: rotateX(0deg);}
75% {-webkit-transform: rotateX(180deg);}
100% {-webkit-transform: rotateX(180deg);}
}

@-o-keyframes front-flip /* Opera */
{
0% {-o-transform: rotateX(0deg) rotateY(0deg);}
25% {-o-transform: rotateX(0deg);}
75% {-o-transform: rotateX(180deg);}
100% {-o-transform: rotateX(180deg);}
}

@keyframes back-flip
{
0% {transform: rotateX(180deg) rotateY(0deg);}
25% {transform: rotateX(180deg);}
75% {transform: rotateX(0deg);}
100% {transform: rotateX(0deg);}
}

@-moz-keyframes back-flip /* Firefox */
{
0% {-moz-transform: rotateX(180deg) rotateY(0deg);}
25% {-moz-transform: rotateX(180deg);}
75% {-moz-transform: rotateX(0deg);}
100% {-moz-transform: rotateX(0deg);}
}

@-webkit-keyframes back-flip /* Safari and Chrome */
{
0% {-webkit-transform: rotateX(180deg) rotateY(0deg);}
25% {-webkit-transform: rotateX(180deg);}
75% {-webkit-transform: rotateX(0deg);}
100% {-webkit-transform: rotateX(0deg);}
}

@-o-keyframes back-flip /* Opera */
{
0% {-o-transform: rotateX(180deg) rotateY(0deg);}
25% {-o-transform: rotateX(180deg);}
75% {-o-transform: rotateX(0deg);}
100% {-o-transform: rotateX(0deg);}
}

.front-flip {
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	
	animation: front-flip 2s linear 1s infinite alternate;
	-moz-animation: front-flip 2s linear 1s infinite alternate;
	-webkit-animation: front-flip 2s linear 1s infinite alternate;
}

.back-flip {
	animation: back-flip 2s linear 1s infinite alternate;
	-moz-animation: back-flip 2s linear 1s infinite alternate;
	-webkit-animation: back-flip 2s linear 1s infinite alternate;
}

body > .navbar .brand span.zh {
	z-index: 11;
}

body > .navbar .brand span.en {
	z-index: 10;
	text-indent: 10px;
}

#container {
	position: absolute;
	width: 100%;
	height: 100%;
}

#container-inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#body {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
}

#main-menu{
	position: absolute;
	width: 200px;
	right: -200px;
	top: 0px;
	bottom: 0px;
	z-index: 4;
	height: 100%;
	color: #c4ccd9;
	border-right: 1px solid #242a36;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
#main-menu.active {
	transform: translate3d(-100%,0,0);
	-webkit-transform: translate3d(-100%,0,0);
}

#main-menu-inner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0px;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

#main-content {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 6;
	transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
	-o-transition: .3s ease-out;
	transform: 
		translate3d(0px, 0px, 0px) 
		scaleX(1) scaleY(1) scaleZ(1) 
		rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
		skewX(0deg) skewY(0deg);
	-moz-transform: 
		translate3d(0px, 0px, 0px) 
		scaleX(1) scaleY(1) scaleZ(1) 
		rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
		skewX(0deg) skewY(0deg);
	-webkit-transform: 
		translate3d(0px, 0px, 0px) 
		scaleX(1) scaleY(1) scaleZ(1) 
		rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
		skewX(0deg) skewY(0deg);
	-o-transform: 
		translate3d(0px, 0px, 0px) 
		scaleX(1) scaleY(1) scaleZ(1) 
		rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
		skewX(0deg) skewY(0deg);
}

#main-content-inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FFF url(../imgs/yurionly2r.jpg) scroll 100% 0% no-repeat;
	background-size: cover;
}

@media only screen and (max-device-width: 480px) {
	#main-content-inner {
		background-position-x: right -55px;
	}
}

#content {
	position: absolute;
	left: 0px;
	top: 46px;
	bottom: 0px;
	right: 0px;
	z-index: 4;
	background-color: rgba(255,255,255,.7);
}


